<a href="https://colab.research.google.com/github/Prasannas544/Business-Analytics-Content/blob/main/21stJuly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
install.packages("nycflights13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [3]:
library(tidyverse)
library(nycflights13)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [14]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
airlines

In [7]:
flights=flights
airlines<-airlines

In [ ]:
flights %>%
dplyr::filter(month==1|month==2,day==1,carrier=="B6")    # equivalent to  ((month==1 OR month==2) AND day==1) AND carrier == "B6"

In [ ]:
flightsFiltered <- flights %>%
dplyr::filter(month %in% c(11,12)) %>%
dplyr::filter(dep_time>=700) %>%
dplyr::filter(carrier!="UA")
                                                #multiple filters
flightsFiltered

In [ ]:
flightsArranged <- flightsFiltered %>%
arrange(year,month,day,desc(dep_delay))   # Arrange in order , by year, **when tied**  then by month,,then by day & then by dep_delay(in descending order)

flightsArranged

In [27]:
flightsSelected <- flightsArranged %>%                            #select which columns to keep,which ones to drop 
dplyr::select(-(hour:time_hour))%>%
dplyr::select(-(sched_dep_time),-(sched_arr_time),-(tailnum)) %>%   #Reorder columns and rename columns
dplyr::rename("airtime"="air_time","destination"="dest") 


head(flightsSelected)

  year month day dep_time dep_delay arr_time arr_delay carrier flight origin
1 2013 11    1   1310     265       1423     233       EV      5288   LGA
2 2013 11    1   2249     259         51     250       EV      5268   LGA
3 2013 11    1   2329     179         34     149       WN       382   LGA
4 2013 11    1   2222     172         38     159       DL      2142   EWR
5 2013 11    1   2216     156       2355     150       MQ      3374   JFK
6 2013 11    1   1714     148       1943     146       EV      4140   EWR
  destination airtime distance
1 BUF          48     292
2 CLT          89     544
3 MDW         110     725
4 ATL         115     746
5 RDU          81     427
6 ATL         126     746

In [ ]:
 flightsMutated <- flightsSelected %>%
 dplyr::mutate(gain=dep_delay-arr_delay,
                hours = airtime/60,               #Mutate-> add new columns  OR edit alreaedt existing columns
                gain_per_hour=gain/hours) %>%
dplyr::select(-(gain),-(hours))

head(flightsMutated)

In [ ]:
meanDelays <-flightsMutated %>%
group_by(carrier) %>%
dplyr::summarize(mean_Delay=mean(dep_delay,na.rm=TRUE)) %>%    # calualte mean delay of each carrier
arrange(mean_Delay)


meanDelays

In [ ]:
carrierCounts <-flightsMutated %>%
group_by(carrier) %>%
dplyr::summarize(count=n()) %>%    # count number of rows grouped by  carrier
arrange(desc(count))


carrierCounts

In [ ]:
airlines

In [ ]:
airlinesName <- meanDelays %>% 
left_join(airlines,by=c("carrier"="carrier")) %>%   # left join the table airlines with curent table by carrier column and select few columns 
dplyr::select(name,mean_Delay) %>%
arrange(desc(mean_Delay))

airlinesName