<a href="https://colab.research.google.com/github/Prasannas544/Business-Analytics-Content/blob/main/6th_July.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# check if a number comes in table of 2 ,3, 4, 5, 6 
num=as.integer(readline("Enter a number"))
if(num %% 2==0){
  print("2")   #printing outputs 
}
if(num %% 3==0){
  print("3")   #printing outputs 
} 
if(num %% 4==0){
  print("4")   #printing outputs 
} 
if(num %% 5==0){
  print("5")   #printing outputs 
}
if(num %% 6==0){
  print("6")   #printing outputs 
}

Enter a number7

In [26]:
marks=as.integer(readline("Enter your marks"))

if(marks>=80){
  print("A")
}
if(marks<80 && marks>=60){
  print("B")
}
if(marks<60 && marks>=40){
  print("C")
}
if(marks<40 && marks>=0){
  print("D")
}

IF-Else IF

In [33]:
marks=as.integer(readline("Enter your marks"))

if(marks <=40){
  print("D")
  } else if (marks<=60){
    print("C")
  } else if (marks<=80){
    print("B")
  } else {
    print("A")
  }
#

Enter your marks42
[1] "C"

In [36]:
for(i in 1:10){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [38]:
dice = c(1,2,3,4,5,6)   # dice=1:6

for( ele in dice){
  ans= ele*2
  print(ans);
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10
[1] 12

In [39]:
# Print table of a number  
num= as.integer(readline("Enter an number ðŸ˜Ž"))

Enter an number ðŸ˜Ž17

In [40]:
for(i in 1:10){
  ans=num*i;
  print(paste(num," X ",i," = ",ans))
}

[1] "17  X  1  =  17"
[1] "17  X  2  =  34"
[1] "17  X  3  =  51"
[1] "17  X  4  =  68"
[1] "17  X  5  =  85"
[1] "17  X  6  =  102"
[1] "17  X  7  =  119"
[1] "17  X  8  =  136"
[1] "17  X  9  =  153"
[1] "17  X  10  =  170"